extends layout.pug

block head
    title Error

block body
    section.hero.is-danger.is-fullheight
        .hero-body
            .container.has-text-centered
                h1.title An error occured!
                h2.subtitle Please contact your administrator