extends layout.pug

block head
    title Login required

block body
    section.hero.is-danger.is-fullheight
        .hero-body
            .container.has-text-centered
                h1.title Login required!
                h2.subtitle Please login in order to access